* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: static;

    font-family: Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--preto);
}

main {
    position: relative;

    width: 78%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}


/* cabecalho */
header {
    position: sticky;
    top: 0;

    background-color: rgba(252, 248, 247, 0.95);

    padding: 18px 11%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e7dfe5;

    z-index: 10;
}

/* elas digitais titulo */
header h1 {
    font-size: 30px;
    color: var(--roxo-escuro);
}

/* menu */
nav {
    display: flex;
    gap: 35px;
}

nav a {
    color: #1d1730;

    text-decoration: none;
    font-size: 20px;

    transition: 0.3s;
    padding-bottom: 8px;
}

/* footer */
footer {
    background-color: #681263;
    color: #e7dfe5;
   
    text-align: center;

    line-height: 2;
    padding: 25px;

    
}


    .logo {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 100px;
    height: auto;
}



@media screen and (max-width: 768px) {

    header {
        position: static;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 15px 5%;
    }

}