*{
    padding: 0;
    border: 0;
    margin:0;
}

body{
    position: static;

    font-family: Arial, sans-serif;
    background-color: var(--fundo);
    color: var(--preto);
}

main{
    position: relative;

    width: 78%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}

main >.desc{

    font-size: 18px;
    line-height: 1.4;
    max-width: 650px;

    margin-bottom: 45px;

    color: #29233f;
}

section{
     transition: 0.3s;

    animation: aparecer 0.8s;
}
section >.desc{

    font-size: 18px;
    line-height: 1.4;
    max-width: 900px;

    margin-bottom: 45px;

    color: #29233f;
}

.container-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*mostra 3 cartilhas */
.viewport {
    width: 790px;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
}

.viewport.grande{
    width: 500px;
}

/* Fila que desliza */
.container-images {
  position: relative; 
  display: flex;
  gap: 20px;
  transition: transform .4s ease;
}

.mat {
    border-radius: 10px;
    transition: transform .3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mat:hover {
    transform: scale(1.05);
}

/*estilização dos botões do carrossel*/
.prev-button, .next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.prev-button img, .next-button img {
  width: 100%;
  height: 100%;
}

/*muda a direção do botão de proximo*/
.prev-button {
  transform: rotate(180deg);
}

/*o fundo de quando o dialog ta aberto*/
dialog::backdrop{
    background-color: rgb(0 0 0 /.5);
}

dialog{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    border: none;
    border-radius: .5rem;

    /*sombra*/
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 70%;

}

img{
    border-radius: 10px;
    display: block;
}

.container-info {
    position: relative;
}

.container-info h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.conteudo{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 90%;
}

.info{
    display: flex;
    flex-direction: column;
    height: 283px;
}

.close{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    position: fixed;
    top: 10px;
    right: 10px;

    color: #f5edf4;
    background-color: rgb(113, 16, 16);
    border-radius: 5px;
}

.close:hover{
    background-color: #f30404;
}

.link {
    background-color: #652d5e;
    padding: 10px 20px;
    color:#f5edf4;
    border-radius: 5px;
    margin-top: auto;
    margin-right: auto;
    text-decoration: none;
}

.link:hover, .link-geral:hover{
    background-color: #601657;
}

.link-geral {
    display: block;
    width: fit-content;
    margin: 30px auto 0;

    background-color: #652d5e;
    padding: 10px 20px;
    color: #f5edf4;
    border-radius: 5px;
    text-decoration: none;
}


p{
    margin-bottom: 10px;
}

button{
    border-radius: 10px;
}
.solo{
    display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
    font-size: 29px;

    color: #3f0b3d;

    margin-bottom: 25px;
    border-left: 6px solid #681263;
    padding-left: 15px;
}

h1 {
    font-size: 45px;

    color: #3f0b3d;

    margin-top: 15px;
    margin-bottom: 10px;
}


@keyframes aparecer {

    from {
        opacity: 0;

        transform: translateY(15px);
    }

    to {
        opacity: 1;

        transform: translateY(0);
    }
}
