*{
    padding: 0;
    border: 0;
    margin:0;
}


h2{
    padding: 0.3em;
}

/*o fundo de quando o dialog ta aberto*/
dialog::backdrop{
    background-color: rgb(0 0 0 /.5);
}

dialog{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    border: none;
    border-radius: .5rem;

    /*sombra*/
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 70%;

}

img{
    border-radius: 10px;;
}

.container-info {
    position: relative;
}

.container-info h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.conteudo{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 90%;
}

.info{
    display: flex;
    flex-direction: column;
    height: 283px;
}

.close{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    position: fixed;
    top: 10px;
    right: 10px;

    color: #f5edf4;
    background-color: rgb(113, 16, 16);
    border-radius: 5px;
}

.close:hover{
    background-color: #f30404;
}

.link {
    background-color: #652d5e;
    padding: 10px 20px;
    color:#f5edf4;
    border-radius: 5px;
    margin-top: auto;
    margin-right: auto;
}

.link:hover{
    background-color: #601657;
}

p{
    margin-bottom: 10px;
}

