@import url('https://googleapis.com');

*{
    padding: 0;
    margin: 0;
    border: 0;

    font-family: 'Open Sans', sans-serif;
    background-color: #fefdfa;
}

body{
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 2em;
    padding-top: 2em;
}

h1{
    color:#56174f;
}
h2{
    text-align: center;
    padding: 0.3em;
    color:#fefdfa;
    background-color: #56174f;
}

 @media screen and (max-width: 400px){
             *{
                display: flex;
               
            
            }
        }
          @media screen and (min-width: 401px) and (max-width: 500px){
           p{
                grid-template-columns: 1fr 1fr;
            
            }
        }
